*,
*::after,
*::before {
    box-sizing: border-box;
}




.page {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.page__header {
    padding-bottom: 12px;
   background-color: #f6f2f2
}

.page__header__grey {
    padding-top: 38px;
    background-color: #f6f2f2
}

/*header*/
.header {
   box-sizing: border-box;
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: center;
   width: 100%;
   max-width: 1250px;
   min-height: 90px;
   margin: 0  auto;
   background: #000000;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
}


.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;
}

.menu__item:hover {
    background-color: #FF3F40;
}

.menu__link {
    font-family:'Open Sans',Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding: 0  30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

/*intro*/

.page__content {
    flex-grow: 1;
}

.intro {
    padding-top: 102px;
    padding-bottom: 94px;
}

.intro__content {
    position: relative;
    top:-12px;
    width: 100%;
    max-width: 616px;
    margin-bottom: 20px;

}

.intro__heading {
    font-family:'Open Sans',Arial, Helvetica, sans-serif ;
    margin: 0;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


.intro__heading__big {
    letter-spacing: 6px;
}

.intro__text {
    margin: 0;
    line-height: 28px;
    max-width: 520px;
    margin-bottom: 50px;
}

.action-button {
    font-family:'Open Sans',Arial, Helvetica, sans-serif ;
    box-sizing: border-box; 
    display: inline-block;
    width: 228px;
    height: 56px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

.action__button__red {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF2D2D;
}

.intro__image {
   
  
    max-width: 551px;
    height:auto;
    box-shadow: -2.2px  -13.8px 73px
    rgba(0,0,0,0.29);
    
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}